{% extends 'shop/shop_base.html.twig' %}

{% block title 'Comment passer la commande' %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Comment souhaitez-vous passer commande ?
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <form method="post" action="{{ path(constant('App\\Controller\\RouteName::APP_LOGIN')) }}">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <input type="hidden" name="_target_path" value="{{ path(constant('App\\Controller\\RouteName::CHECKOUT_CHOOSE_ACCOUNT')) }}">
                            <input type="hidden" name="_failure_path" value="{{ path(constant('App\\Controller\\RouteName::CHECKOUT_CHOOSE_ACCOUNT')) }}">

                            <button class="btn btn-lg btn-primary mt-4" type="submit">
                                Sign in
                            </button>
                            <a href="{{ path(constant('App\\Controller\\RouteName::USER_CREATE_ACCOUNT')) }}" class="btn btn-lg btn-primary mt-4">Pas encore de compte ?</a>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path(constant('App\\Controller\\RouteName::CHECKOUT_ADDRESS')) }}" class="btn btn-primary">Continuer sans utiliser de compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}