{% extends 'shop/shop_base.html.twig' %}

{% block title 'Comment passer la commande' %}

{% block body %}
    <div class="container mt-4" style="max-width: 900px;">
        <div class="card">
            <div class="card-header">
                Comment souhaitez-vous passer commande ?
            </div>
            <div class="card-body">
                <form method="post" action="{{ path(constant('App\\Controller\\RouteName::APP_LOGIN')) }}">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Si vous disposez d'un compte vous pouvez vous connecter :</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <input type="hidden" name="_target_path" value="{{ path(constant('App\\Controller\\RouteName::CHECKOUT_CHOOSE_ACCOUNT')) }}">
                    <input type="hidden" name="_failure_path" value="{{ path(constant('App\\Controller\\RouteName::CHECKOUT_CHOOSE_ACCOUNT')) }}">

                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-lg btn-primary mt-4" type="submit">
                            Se connecter
                        </button>
                        <a href="{{ path(constant('App\\Controller\\RouteName::USER_CREATE_ACCOUNT')) }}" class="btn btn-lg btn-primary mt-4 mr-2 ml-2">Pas encore de compte ?</a>
                        <a href="{{ path(constant('App\\Controller\\RouteName::CHECKOUT_ADDRESS')) }}" class="btn btn-lg btn-primary mt-4">Continuer sans utiliser de compte</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}